@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer utilities {
  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-90;
  }
  .btn_blue {
    @apply border-[#2e569b] bg-[#2e569b] px-8 py-5 text-white;
  }
  .btn_dark_green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .QuienesSomos {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 8rem;
    overflow: hidden;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #e4faff var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(228, 250, 255, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #dce9fd var(--tw-gradient-to-position);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 3rem 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  @media (min-width: 640px) {
    .QuienesSomos {
      flex-direction: row;
      gap: 3rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media (min-width: 1024px) {
    .QuienesSomos {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media (min-width: 1280px) {
    .QuienesSomos {
      max-height: 598px;
    }
  }

  .nuestroperfil {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #dce9fd var(--tw-gradient-from-position);
    --tw-gradient-to: rgba(220, 233, 253, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #e4faff var(--tw-gradient-to-position);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 3rem 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  @media (min-width: 640px) {
    .nuestroperfil {
      flex-direction: row;
      gap: 3rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media (min-width: 1024px) {
    .nuestroperfil {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  @media (min-width: 1280px) {
    .nuestroperfil {
      max-height: 598px;
    }
  }

  .proteccion {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }

  @media (min-width: 640px) {
    .proteccion {
      flex-direction: row;
    }
  }

  @media (min-width: 1024px) {
    .proteccion {
      justify-content: space-between;
      gap: 15rem;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
